* {
    font-family: Verdana;
    text-align: center;
    background-color: black;
    padding: 5px;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 42px;
    font-weight: 400;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: gray;
}

#footer {
    text-align: right;
}